<aside class="text-center py-16 max-w-3xl mx-auto">
  <div class="w-full border-t-2 mb-8 border-black squiggle"></div>
  <h3 class="font-display text-4xl uppercase font-bold leading-none">Subscribe to the newsletter</h3>
    <div class="flex justify-center">
      <iframe src="https://howtocode.substack.com/embed" width="480" height="320" frameborder="0" scrolling="no"></iframe>
    </div>
  <div class="w-full border-b-2 pt-12 border-black squiggle"></div>
</aside>
