---
// Component Imports
import BaseHead from '../components/Head/BaseHead.astro';
import Nav from '../components/Nav.tsx';
import HomeHeader from '../components/HomeHeader.astro';
import Courses from '../components/Courses/Courses.tsx';
import Footer from '../components/Footer/Footer.astro'

interface MarkdownFrontmatter {
  date: number;
}

let title = 'Courses';
let description = 'All courses are free!';
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="bg-white text-black font-body leading-normal personality-casual">
    <Nav client:load />

    <main class="py-12 lg:py-20">
      <article class="max-w-7xl mx-auto px-3">
        <HomeHeader title={title} description={description} />
        <Courses />
      </article>
    </main>
    <Footer />
  </body>
</html>
