---
export interface Props {
  title: string;
  author: string;
  date: string;
  hero: string;
  youtube: string;
}

const { title, date, hero, youtube } = Astro.props;
---

<div class="layout">
  <article class="content">
  <div>
    <header>
      {hero && <img width="720" height="420" class="hero-image" loading="lazy" src={hero} alt={title} />}
      <p class="publish-date">{date}</p>
      <h1 class="title">{title}</h1>
    </header>
    <main>
      <slot />
    </main>
  </div>
  </article>
</div>