<aside class="text-center py-16 max-w-3xl mx-auto">
    <div class="w-full border-t-2 mb-8 border-black squiggle"></div>
    <h3 class="font-display text-4xl uppercase font-bold leading-none">Subscribe to the newsletter</h3>
    <p class="text-lg mb-8 mt-8">Occasionally I will email updates, exclusive content, and discounts to my courses/books.</p>
    
    <iframe 
        src="https://howtocode.substack.com/embed" 
        width="480" 
        height="320" 
        style="border:1px solid #EEE; background:white; margin: 0 auto;"
        frameborder="0" 
        scrolling="no">
    </iframe>

    <div class="w-full border-b-2 pt-12 border-black squiggle"></div>
</aside>
