---

---

<nav>
  <div class="max-w-5xl mx-auto px-3 py-3 flex items-center justify-between h-16">
    <a href="/" class="font-bold text-xl hover:text-hot-pink">Creek</a>
  </div>
  <div class="w-full border-b-2 border-black squiggle"></div>
</nav>