---

---

<!-- This example requires Tailwind CSS v2.0+ -->
<header class="bg-blue-500">
  <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8" aria-label="Top">
    <div class="w-full py-6 flex items-center justify-between border-b border-indigo-500 lg:border-none">
      <div class="flex items-center">
        <a href="/">
          <span class="sr-only">Workflow</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="#ffffff">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4" />
          </svg>
        </a>
        <div class="hidden ml-10 space-x-8 lg:block">
          <a href="/books" class="text-base font-medium text-white hover:text-indigo-50" key="Solutions">
            Free Books
          </a>

          <a href="/posts" class="text-base font-medium text-white hover:text-indigo-50" key="Pricing">
            Articles
          </a>

          <a href="/courses" class="text-base font-medium text-white hover:text-indigo-50" key="Docs">
            Courses
          </a>

          <a href="/tutorials" class="text-base font-medium text-white hover:text-indigo-50" key="Company">
            Tutorials
          </a>
        </div>
      </div>
      <div class="">
        <a href="/search" class="py-2 px-4 border border-transparent rounded-md text-base font-medium text-white">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
          </svg>
        </a>
      </div>
    </div>
    <div class="py-4 flex flex-wrap justify-center space-x-6 lg:hidden">
      <a href="/books" class="text-base font-medium text-white hover:text-indigo-50" key="Solutions">
        Free Books
      </a>

      <a href="/posts" class="text-base font-medium text-white hover:text-indigo-50" key="Pricing">
        Articles
      </a>

      <a href="/courses" class="text-base font-medium text-white hover:text-indigo-50" key="Docs">
        Courses
      </a>

      <a href="/tutorials" class="text-base font-medium text-white hover:text-indigo-50" key="Company">
        Tutorials
      </a>
    </div>
  </nav>
</header>