<article class="max-w-5xl mx-auto px-3">
  <section class="grid grid-cols-1 md:grid-cols-2 gap-6 py-8">
    <div class="col-span-1">
      <a href="/tags/elixir-basics"
        class="transition-all duration-75 ease-in-out h-full block relative top-0 hover:-top-2 shadow-lg hover:shadow-xl bg-white rounded-xl overflow-hidden">
        <img class="squiggle" src="/images/elixir-basics/cover-purple.png" alt="">
        <div class="py-6 px-8">
          <h2 class="font-bold text-2xl leading-tight">
            Elixir Basics
          </h2>
        </div>
      </a>
    </div>
    
    <div class="col-span-1">
      <a href="/tags/understanding-the-jamstack/"
        class="transition-all duration-75 ease-in-out h-full block relative top-0 hover:-top-2 shadow-lg hover:shadow-xl bg-white rounded-xl overflow-hidden">
        <img class="squiggle" src="/images/hero/understanding_the_jamstack_banner.png" alt="">
        <div class="py-6 px-8">
          <h2 class="font-bold text-2xl leading-tight">
            Understanding the Jamstack
          </h2>
        </div>
      </a>
    </div>

    <div class="col-span-1">
      <a href="/tags/adonis-fundamentals/"
        class="transition-all duration-75 ease-in-out h-full block relative top-0 hover:-top-2 shadow-lg hover:shadow-xl bg-white rounded-xl overflow-hidden">
        <img class="squiggle" src="/images/hero/adonis-js.png" alt="Adonis Fundamentals Logo">
        <div class="py-6 px-8">
          <h2 class="font-bold text-2xl leading-tight">
            Adonis Fundamentals
          </h2>
        </div>
      </a>
    </div>

    <div class="col-span-1">
      <a href="/tags/go-basics/"
        class="transition-all duration-75 ease-in-out h-full block relative top-0 hover:-top-2 shadow-lg hover:shadow-xl bg-white rounded-xl overflow-hidden">
        <img class="squiggle" src="/images/hero/Golang-Basics.png" alt="Go Basics banner">
        <div class="py-6 px-8">
          <h2 class="font-bold text-2xl leading-tight">
            Go Basics
          </h2>
        </div>
      </a>
    </div>

    <div class="col-span-1">
      <a href="/tags/tailwind-css-travel-site/"
        class="transition-all duration-75 ease-in-out h-full block relative top-0 hover:-top-2 shadow-lg hover:shadow-xl bg-white rounded-xl overflow-hidden">
        <img class="squiggle" src="/images/hero/tailwind-css-travel-site.png" alt="Tailwind css travel site banner">
        <div class="py-6 px-8">
          <h2 class="font-bold text-2xl leading-tight">
            Tailwind CSS Travel Site
          </h2>
        </div>
      </a>
    </div>
  </section>
</article>
